div.m-menu-documents(data-offset-top="100", bs-affix)

    div.m-menu-documents-item(
    ng-click='vm.document.docType = item.value; vm.getNumberDocument()',
    ng-class='{"m-menu-document-item-active": false}',
    ui-sref='newTask({taskId:"new"})'
    )
        img.disabled(ng-src='../assets/images/help_desk/ticket.svg')
        img.active(ng-src='../assets/images/help_desk/ticket-reverse.svg')
        md-tooltip(md-direction="bottom") Поставить задачу

    div.m-menu-documents-item(
    ng-click='vm.getTasks(true,false,false,false,false,false,"my","income")',
    ng-class='{"m-menu-document-item-active": vm.sideSelector=="income"}')
        img.disabled(ng-src='../assets/images/help_desk/ticket.svg')
        img.active(ng-src='../assets/images/help_desk/ticket-reverse.svg')
        md-tooltip(md-direction="bottom") Входящие
    div.m-menu-documents-item(
    ng-click='vm.getTasks(false,true,false,false,false,false,"my","outgoing")',
    ng-class='{"m-menu-document-item-active": vm.sideSelector=="outgoing"}')
        img.disabled(ng-src='../assets/images/help_desk/ticket.svg')
        img.active(ng-src='../assets/images/help_desk/ticket-reverse.svg')
        md-tooltip(md-direction="bottom") Иcходящие
    div.m-menu-documents-item(
    ng-click='vm.getTasks(true,true,true,false,false,false,"my","favourite")',
    ng-class='{"m-menu-document-item-active": vm.sideSelector=="favourite"}')
        img.disabled(ng-src='../assets/images/help_desk/ticket.svg')
        img.active(ng-src='../assets/images/help_desk/ticket-reverse.svg')
        md-tooltip(md-direction="bottom") Избранные
    div.m-menu-documents-item(
    ng-click='vm.getTasks(true,true,false,true,false,false,"my","urgent")',
    ng-class='{"m-menu-document-item-active": vm.sideSelector=="urgent"}')
        img.disabled(ng-src='../assets/images/help_desk/ticket.svg')
        img.active(ng-src='../assets/images/help_desk/ticket-reverse.svg')
        md-tooltip(md-direction="bottom") Горящие


div.m-row.m-document.m-flex
    div.m-left-body
        div.m-row
            h1.text-header Список задач
            .taskList-btns.btn-group.m-radio-group(ng-model='vm.selector',bs-radio-group='')
                label.btn.btn-default(ng-click="vm.getTasks()")
                    input.btn.btn-default(type='radio', value='my')
                    |  Мои
                label.btn.btn-default(ng-click="vm.getTasks(false,false,false,false,true,false,'withMe')")
                    input.btn.btn-default(type='radio', value='withMe')
                    |  Общие
                label.btn.btn-default(ng-click="vm.getTasks(false,false,false,false,false,true,'all')")
                    input.btn.btn-default(type='radio', value='all')
                    |  Все
        div.like-invoice-title
            div.m-point.m-point-greendot
            | Количество задач: {{vm.tasks.length}}

        div
        .m-table.like-invoice-body-clear-left-top-padding
            .m-row(layout='row')
                .m-col(flex=5)
                .m-col(flex=5)
            //-|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||


            //Класс not-visited добавляется тогда,когда _id юзера нету в массиве visited данного таска
            h3.emptyTasks {{vm.emptyTasks}}
            .task(ng-repeat='task in vm.tasks | filter: vm.neededTask' layout="row" layout-align="start center")
                span.task__star(
                ng-click="vm.addToFavourites(task)",
                ng-hide="vm.selector=='all'",
                ng-class="{'task__star-active':task.favourite.includes(vm._id)}") {{(task.favourite.includes(vm._id))? '&#9733;' : '&#9734;'}}
                    md-tooltip.task__star__hint(md-direction="bottom") {{task.favourite.includes(vm._id)?'Убрать с избранных':'Добавить в избранные'}}

                .task__name(ui-sref="newTask({taskId:task._id})") {{task.name | limitTo:15}}
                        span(ng-show="task.name.length>15") ...
                        span.task__circle(ng-hide="vm.selector=='all'||task.creator._id==vm._id" ng-class="{'task__circle-active':!(task.visited.includes(vm._id))}")

                .task__right-div
                    .task__creator-responsible
                        span.task__creator-responsible__creator Постановщик: {{task.creator.name}}
                        span.task__creator-responsible__responsible Ответсвенный: {{task.responsible.name}}
                    span(ng-show="task.deadline").task__deadline дедлайн:
                        span.task__deadline__date(ng-if="!task.finished") {{task.deadline | date : "dd MMMM | H:00"}}
                        span.task__deadline__finished(ng-if="task.finished") Просрочено

                //|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

    div.m-menu-documents.m-menu-documents-right(data-offset-top="100", bs-affix)
        div.m-menu-documents-item(ng-click="vm.logout()")
            img.disabled(ng-src='../assets/images/help_desk/close.svg')
            img.active(ng-src='../assets/images/help_desk/close-reverse.svg',)
            md-tooltip(md-direction="bottom") Закрыть


    .m-right-list
        .m-block-search.m-input-container
            .m-wrapper
                input.m-serach-input(type='text' ng-model="vm.neededTask")
        .m-body-activity
            .m-title-activity Последние активности
            .m-activity-item
                img.m-activity-avatar(src='../../assets/images/help_desk/user.jpg')
                span.red Вам
                span.gray &nbsp; назначили Заявку
                span.red &nbsp; #12
                br
                span.gray от
                span.black &nbsp; 15AD94
                span.red &nbsp; Корлан Апраимова
            .m-activity-item
                img.m-activity-avatar(src='../../assets/images/help_desk/user.jpg')
                span.black 08MD15
                span.gray &nbsp; |
                span.red &nbsp; Optimal Group
                span.grey &nbsp; назначил Тикет
                span.red &nbsp; #8
                span.grey &nbsp; для
                span.black &nbsp; 15AD94
                span.red &nbsp; Корлан Апраимова
            div.m-activity-item
                img.m-activity-avatar(src='../../assets/images/help_desk/user.jpg')
                span.red Вам
                span.gray &nbsp; назначили Заявку
                span.red &nbsp; #12
                span.gray &nbsp; от
                span.black &nbsp; 15AD94
                span.red &nbsp; Корлан Апраимова






