.main-container(ng-show="vm.showContent")
        div.m-menu-documents.m-menu-documents-right(data-offset-top="100", bs-affix)
            div.m-menu-documents-item(
                ui-sref="tasksList",
                ng-class='{"m-menu-document-item-active": false}'
            )
                img.disabled(ng-src='../assets/images/menu_icons/realisation6.svg')
                img.active(ng-src='../assets/images/menu_icons/realisation6-reverse.svg',)
                md-tooltip(md-direction="bottom") Назад

        form(name="form" ng-submit="vm.createTask()")
            .main-container__form(layout="row")
                .main-container__form-left(flex='45')
                    .m-input-container
                        label(for="name") Название задачи
                        input(ng-disabled="vm.notCreator" novalidate required class="md-input-container"  name="name" id="name" ng-model="vm.task.name")

                    .m-input-container(ng-hide="vm.notCreator && !vm.task.description")
                        label(for="descriptrion") Суть задачи
                        textarea.taskInfo__comments__create__input(
                        id="descriptrion",
                        dynamic-text-area,
                        msd-elastic,
                        name="description",
                        ng-model="vm.task.description")

                    .m-input-container
                            h4.creator(ng-show="vm.taskId") Постановщик: {{vm.task.creator.name}}
                            label(for="responsible") Ответственный
                            input(class="md-input-container",
                            id="responsible",
                            type="text",
                            ng-model="vm.responsibleText",
                            data-html="1",
                            data-auto-select="true",
                            bs-options="user as user.name for user in vm.users",
                            bs-typeahead,
                            ng-hide="vm.notCreator"
                            bs-on-select="vm.chooseResponsible"
                            )
                            .users(ng-show="vm.task.responsible")
                                .user.clearfix
                                    img.user-photo.pull-left(ng-src="../../assets/images/help_desk/user.jpg")
                                    p.pull-left(style="display:inline-block") {{vm.task.responsible.name}}
                                    span.user__btn-remove(ng-hide="vm.notCreator" ng-click="vm.removeResonsible()") &#10799;

                    .m-input-container(flex='80' ng-hide="vm.notCreator&&!vm.task.deadline")
                        label.newTask__deadline-label(for="deadline") Дедлайн
                        datepicker.m-datepicker(date-format="yyyy-MM-dd")
                            input.newTask__deadline.m-input-picker(ng-disabled="vm.notCreator",
                            ng-change="vm.dateError=false",
                            placeholder="Пример : 2016-12-31",
                            name="deadline",
                            id="deadline",
                            type="text",
                            ng-model="vm.task.deadline")

                    .newTask__hours(flex='20' ng-show="vm.task.deadline")
                        span.btn.btn-hours(type="button" ng-show='vm.notCreator') до {{vm.currentHour}}:00{{' '}}
                        span.btn.btn-hours(type="button" ng-show="!vm.taskId||!vm.notCreator" bs-dropdown) {{vm.currentHour}}:00{{' '}}
                            span.caret
                        ul.newTask__dropdown.list-hours(class="dropdown-menu" role="menu")
                            li.newTask__dropdown__item(ng-repeat="hour in vm.hours", ng-click="vm.currentHour=vm.hours[$index]") {{hour}}:00
                        br
                        //если не верно введена дата то выводим ошибку
                    p.error(ng-show="vm.dateError") Дата введена не корректно !

                    br

                    .require(ng-hide="vm.notCreator&&!vm.task.description")
                        label.required__text(for='required') {{vm.taskId?'Обязательно':'Сделать задачу обязательной'}}
                        input.required__input(ng-disabled="vm.notCreator",
                        type="checkbox",
                        name="required",
                        id="required",
                        ng-model="vm.task.required")
                    br
                    .m-input-container.burn(ng-hide="vm.notCreator&&!vm.task.urgent" ng-class="{'active-burn':vm.task.urgent}")
                        label.burn-text(for="urgent") Горит
                        input(
                        ng-hide="true",
                        type="checkbox",
                        name="urgent",
                        id="urgent",
                        ng-disabled="vm.notCreator",
                        ng-click="vm.task.urgent=!vm.task.urgent")
                    br
                    p.taskInfo-container-left__visitors(ng-show="vm.taskId") Просмотрели :
                        span.taskInfo__user.taskInfo-container-left__visitors__visitor(ng-repeat="visited in vm.task.visited") {{" "+visited.name+" "}}

                    div()
                        .accepted(ng-show="vm.acceptedUsers.length")  Приняли :
                            span.accepted-text.taskInfo__user(ng-repeat="status in vm.acceptedUsers") {{status.user.name}}

                        .canceled(ng-show="vm.canceledUsers.length")    Отклонили :
                            span.canceled-text.taskInfo__user(ng-repeat="status in vm.canceledUsers" ) {{status.user.name}}
                                span.canceled-comment {{status.comment}}

                .members.extra-section(flex='45' flex-offset="5")
                    .m-input-container
                        label(for="performer" ng-hide="vm.notCreator&&!vm.task.performers.length") Соисполнитель(ли)
                        input(id="performer",
                        ng-hide="vm.notCreator",
                        class="md-input-container",
                        type="text",
                        ng-model="performer",
                        bs-options="{user:user,arr:vm.task.performers} as user.name for user in vm.users",
                        bs-typeahead,
                        bs-on-select="vm.removeFromUsers")

                        .users(ng-show="vm.task.performers.length")
                            .user.clearfix(ng-repeat="performer in vm.task.performers")
                                img.user-photo.pull-left(ng-src="../../assets/images/help_desk/user.jpg")
                                p.pull-left(style="display:inline-block") {{performer.name}}
                                span.user__btn-remove(ng-hide="vm.notCreator" ng-click="vm.addToUsers(performer,vm.task.performers)") &#10799;


                    .m-input-container
                        label(for="auditor" ng-hide="vm.notCreator&&!vm.task.auditors.length") Аудитор(ы)
                        input(class="md-input-container",
                        ng-hide="vm.notCreator",
                        id="auditor",
                        type="text",
                        ng-model="auditor",
                        bs-options="{user:user,arr:vm.task.auditors} as user.name for user in vm.users",
                        bs-typeahead,
                        bs-on-select="vm.removeFromUsers")

                        .users(ng-show="vm.task.auditors.length")
                            .user.clearfix(ng-repeat="auditor in vm.task.auditors")
                                img.user-photo.pull-left(ng-src="../../assets/images/help_desk/user.jpg")
                                p.pull-left(style="display:inline-block") {{auditor.name}}
                                span.user__btn-remove(ng-hide="vm.notCreator" ng-click="vm.addToUsers(auditor,vm.task.auditors)") &#10799;

                    .m-input-container
                            label(for="customer" ng-hide="vm.notCreator&&!vm.task.customer") Заказчик
                            input(class="md-input-container",
                            id="customer",
                            type="text",
                            ng-disabled="vm.notCreator",
                            ng-model="vm.task.customer",
                            bs-options="customer as customer.nameCompany for customer in vm.customers",
                            bs-typeahead,
                            bs-on-select="vm.chooseCustomer")
                            p.error(ng-show="vm.customerError") Заказчик введен не корректно !

            .reqiure-btns(ng-show="vm.showRequireBtns")
                span.reqiure-btn.btn.btn-success(ng-click="vm.accepted()") Принять
                span.reqiure-btn.btn.btn-danger(ng-click="vm.canceled()") Отклонить
            //Кнопка отправки disabled пока не заполнены поля имя и ответственный
            input.md-btn.submit(ng-if="!vm.notCreator" type="submit" value="{{vm.submitText}}" ng-disabled="form.$invalid||!vm.task.responsible")

        .taskInfo__comments(ng-show="vm.taskId")
            h3 {{vm.comments.length?"Комментарии":"Пока нет комментариев"}}
            //коментарий(можно удалить если id текущего юзера равно id создателя)
            .taskInfo__comments__comment(ng-repeat="comment in vm.comments | limitTo:vm.limit track by $index")
                img.taskInfo__comments__comment__creator-photo(ng-src="../../assets/images/help_desk/user.jpg")
                .taskInfo__comments__comment__div
                    h5.taskInfo__comments__comment__div__creator-name {{comment.user.name}}
                    p.taskInfo__comments__comment__div__content {{comment.text}}
                    span(ng-if="vm.userId==comment.user._id" ng-click="vm.removeComment(comment._id,$index)").taskInfo__comments__comment__div__remove  Удалить
                    span(ng-if="vm.userId!=comment.user._id" ng-click="vm.writeAnswer(comment.user.name)").taskInfo__comments__comment__div__remove  Ответить
                span.taskInfo__comments__comment__date {{comment.createdDate | date:'d MMM HH:mm'}}
            //Show more-отображается когда больше 4 коментов и открывает по 5,так же можно скрыть комменты(до 4)
            .taskInfo__comments__showMore(ng-show="vm.comments.length>4")
                p(ng-click="vm.limit=vm.limit+10" ng-hide="vm.limit>=vm.comments.length") Показать остальные ({{vm.comments.length-vm.limit}})
                p(ng-click="vm.limit=4" ng-show="vm.limit>=vm.comments.length") Скрыть
            //Создание коментария
            .taskInfo__comments__create()
                img.taskInfo__comments__create__creator-photo(ng-src="../../assets/images/help_desk/user.jpg")
                textarea.taskInfo__comments__create__input(id="createTextArea",
                placeholder="Написать ...",
                ng-model="vm.comment",
                dynamic-text-area,
                msd-elastic,
                ng-enter)
                div
                span.taskInfo__comments__create__send(ng-click="vm.sendComment()") Ответить

