//.dialog-main
//    h4.dialog-main__title Опишите причину отказа от задачи
//    textarea.dialog-main__input(ng-model="vm.gavno")
//        .dialog-main__btns
//            md-button.dialog-main__btns__btn(ng-click="vm.closeDialog(12)") {{vm.gavno}}
//            md-button.dialog-main__btns__btn(ng-click="vm.cancelDialod(15)") Отмена

div.m-menu-documents(data-offset-top="100", bs-affix)
    div.m-menu-documents-item(
    ng-click='vm.document.docType = item.value; vm.getNumberDocument()',
    ng-class='{"m-menu-document-item-active": false}',
    ui-sref='newTask({taskId:"new"})'
    )
        img.disabled(ng-src='../assets/images/help_desk/ticket.svg')
        img.active(ng-src='../assets/images/help_desk/ticket-reverse.svg')
        md-tooltip(md-direction="bottom") Поставить задачу
    //div.m-menu-documents-item(
    //ng-click='vm.document.docType = item.value; vm.getNumberDocument()',
    //ng-class='{"m-menu-document-item-active": false}'
    //)
    //    img.disabled(ng-src='../assets/images/help_desk/ticket.svg')
    //    img.active(ng-src='../assets/images/help_desk/ticket-reverse.svg')
    //    md-tooltip(md-direction="bottom") В процессе
    //div.m-menu-documents-item(
    //ng-click='vm.document.docType = item.value; vm.getNumberDocument()',
    //ng-class='{"m-menu-document-item-active": false}'
    //)
    //    img.disabled(ng-src='../assets/images/help_desk/ticket.svg')
    //    img.active(ng-src='../assets/images/help_desk/ticket-reverse.svg')
    //    md-tooltip(md-direction="bottom") Закрытые
    div.m-menu-documents-item(
    ng-click='vm.getTasks(true,false,false,false,false,false)',
    ng-class='{"m-menu-document-item-active": false}')
        img.disabled(ng-src='../assets/images/help_desk/ticket.svg')
        img.active(ng-src='../assets/images/help_desk/ticket-reverse.svg')
        md-tooltip(md-direction="bottom") Входящие
    div.m-menu-documents-item(
    ng-click='vm.getTasks(false,true,false,false,false,false)',
    ng-class='{"m-menu-document-item-active": false}')
        img.disabled(ng-src='../assets/images/help_desk/ticket.svg')
        img.active(ng-src='../assets/images/help_desk/ticket-reverse.svg')
        md-tooltip(md-direction="bottom") Иcходящие
    div.m-menu-documents-item(
    ng-click='vm.getTasks(true,true,true,false,false,false)',
    ng-class='{"m-menu-document-item-active": false}')
        img.disabled(ng-src='../assets/images/help_desk/ticket.svg')
        img.active(ng-src='../assets/images/help_desk/ticket-reverse.svg')
        md-tooltip(md-direction="bottom") Избранные
    div.m-menu-documents-item(
    ng-click='vm.getTasks(true,true,false,true,false,false)',
    ng-class='{"m-menu-document-item-active": false}')
        img.disabled(ng-src='../assets/images/help_desk/ticket.svg')
        img.active(ng-src='../assets/images/help_desk/ticket-reverse.svg')
        md-tooltip(md-direction="bottom") Горящие






div.m-row.m-document.m-flex
    div.m-left-body
        div.m-row
            h1.text-header Список задач
            .taskList-btns.btn-group.m-radio-group(ng-model='vm.selector',bs-radio-group='')
                label.btn.btn-default(ng-click="vm.getTasks()")
                    input.btn.btn-default(type='radio', value='my')
                    |  Мои
                label.btn.btn-default(ng-click="vm.getTasks(false,false,false,false,true,false,'withMe')")
                    input.btn.btn-default(type='radio', value='withMe')
                    |  Общие
                label.btn.btn-default(ng-click="vm.getTasks(false,false,false,false,false,true,'all')")
                    input.btn.btn-default(type='radio', value='all')
                    |  Все
            .m-input-container
                input.m-serach-input(type='text',ng-model="vm.neededTask")
        div.like-invoice-title
            div.m-point.m-point-greendot
            | Количество задач: {{vm.tasks.length}}

        div
        .m-table.like-invoice-body-clear-left-top-padding
            .m-row(layout='row')

                //.m-col(flex=5)
                //    input.m-checkbox.m-checkbox-normal(ng-click='$event.stopPropagation();', type="checkbox", ng-model='vm.allChecked', value="")
                //.m-col(flex=5)
                //    .m-checkbox-start.m-checkbox-start-normal(
                //    ng-class="{'m-checkbox-checked-start':vm.allStar}",
                //    ng-click="$event.stopPropagation(); vm.allStar = !vm.allStar;")
                //.m-col(flex)
                //    // employers
                //    button.m-select(  type='button', ng-model='vm.selectedEmployer', placeholder='', data-html='1', data-toggle='true', bs-options='item.value as item.label for item in vm.employers', bs-select='')
                //        span.m-selected-span.m-selected-face
                //        span.caret
                //
                //    // statuses
                //    button.m-select(  type='button', ng-model='vm.selectedStatus', placeholder='', data-html='1', data-toggle='true', bs-options='item.value as item.label for item in vm.statuses', bs-select='')
                //        span.caret
                //    // delete
                //    button.m-select(  type='button', placeholder='')
                //        span.m-select.m-selected-bucket


                .m-col(flex=5)
                .m-col(flex=5)
            //-|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||


            //Класс not-visited добавляется тогда,когда _id юзера нету в массиве visited данного таска
            h3.emptyTasks {{vm.emptyTasks}}
            .task(ng-repeat='task in vm.tasks | filter: vm.neededTask', ng-class="{'task__not-visited':(!(task.visited.indexOf(vm._id)>-1) && vm.selector!='all')&&task.creator._id!=vm._id}")
                span.task__star(
                ng-click="vm.addToFavourites(task)",
                ng-hide="vm.selector=='all'",
                ng-class="{'task__star-active':task.favourite.indexOf(vm._id)>-1}") {{(task.favourite.indexOf(vm._id)>-1)? '&#9733;' : '&#9734;'}}
                    md-tooltip.task__star__hint(md-direction="bottom") Добавить в избранные

                a.task__name(ui-sref="newTask({taskId:task._id})") {{task.name | limitTo:25}}
                        span(ng-show="task.name.length>25") ...
                        span.task__circle(ng-hide="vm.selector=='all'||task.creator._id==vm._id" ng-class="{'task__circle-active':!(task.visited.indexOf(vm._id)>-1)}")

                .task__right-div
                    .task__creator-responsible
                        span.task__creator-responsible__creator Постановщик: {{task.creator.name}}
                        span.task__creator-responsible__responsible Ответсвенный: {{task.responsible.name}}
                    span(ng-show="task.deadline").task__deadline дедлайн:
                        span.task__deadline__date(ng-if="!task.finished") {{task.deadline | date : "dd MMMM | H:00"}}
                        span.task__deadline__date(ng-if="task.finished") Просрочено

                //|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

    div.m-menu-documents.m-menu-documents-right(data-offset-top="100", bs-affix)
        div.m-menu-documents-item(ng-click="vm.logout()")
            img.disabled(ng-src='../assets/images/help_desk/close.svg')
            img.active(ng-src='../assets/images/help_desk/close-reverse.svg',)
            md-tooltip(md-direction="bottom") Закрыть









