.taskInfo-container(layout="row")
    .m-menu-documents(data-offset-top="100", bs-affix)
        div.m-menu-documents-item(
        ng-click='vm.document.docType = item.value; vm.getNumberDocument()',
        ui-sref="tasksList",
        ng-class='{"m-menu-document-item-active": false}'
        )
            img.disabled(ng-src='../assets/images/help_desk/ticket.svg')
            img.active(ng-src='../assets/images/help_desk/ticket-reverse.svg')
            md-tooltip(md-direction="bottom") Мои задачи

        div.m-menu-documents-item(
        ng-click='vm.document.docType = item.value; vm.getNumberDocument()',
        ui-sref="newTask",
        ng-class='{"m-menu-document-item-active": false}'
        )
            img.disabled(ng-src='../assets/images/help_desk/ticket.svg')
            img.active(ng-src='../assets/images/help_desk/ticket-reverse.svg')
            md-tooltip(md-direction="bottom") Поставить задачу

    .taskInfo-container-left(flex=70)
            //информация о таске
            h3 {{vm.task.name}}
            //ul.project-actions
            //    li
            //        a.project-actions__action(ng-click="vm.closeTask()") Закрыть задачу
            //    li
            //        a.project-actions__action(ng-click="vm.pauseTask()") Поставить на паузу
            //    li
            //        a.project-actions__action(ng-click="vm.addSubTask()") Добавить подзадачу
            .taskInfo-container-left__description(ng-show="vm.task.description")
                h5 Суть задачи:
                p {{vm.task.description}}

            h5.taskInfo-container-left__creator Постановщик: {{vm.task.creator.name}}

            p.taskInfo-container-left__responsibles Ответсвенный:
                span.taskInfo-container-left__responsibles__responsible {{" "+vm.task.responsible.name+" "}}


            p.taskInfo-container-left__deadline(ng-show="vm.task.deadline")  Дедлайн:
                span.taskInfo-container-left__deadline__date {{vm.task.deadline| date : "dd MMMM | H:00"}}


            h5.taskInfo-container-left__performers(ng-show="vm.task.performers.length") Соисполнитель(ли):
                        span.taskInfo-container-left__performers__performer(ng-repeat="performer in vm.task.performers") {{" "+performer.name+" "}}

            p.taskInfo-container-left__auditors(ng-show="vm.task.auditors.length") Аудитор(ы):
                span.taskInfo-container-left__auditors__auditor(ng-repeat="auditor in vm.task.auditors") {{" "+auditor.name+" "}}
