.taskInfo-container

    .m-menu-documents(data-offset-top="100", bs-affix)
        div.m-menu-documents-item(
        ng-click='vm.document.docType = item.value; vm.getNumberDocument()',
        ui-sref="tasksList",
        ng-class='{"m-menu-document-item-active": false}'
        )
            img.disabled(ng-src='../assets/images/help_desk/ticket.svg')
            img.active(ng-src='../assets/images/help_desk/ticket-reverse.svg')
            md-tooltip(md-direction="bottom") Мои задачи

        div.m-menu-documents-item(
        ng-click='vm.document.docType = item.value; vm.getNumberDocument()',
        ui-sref="newTask",
        ng-class='{"m-menu-document-item-active": false}'
        )
            img.disabled(ng-src='../assets/images/help_desk/ticket.svg')
            img.active(ng-src='../assets/images/help_desk/ticket-reverse.svg')
            md-tooltip(md-direction="bottom") Поставить задачу


    div.m-menu-documents.m-menu-documents-right(data-offset-top="100", bs-affix)
        div.m-menu-documents-item(ui-sref="newTask({taskId:vm.taskId})" ng-if="vm.userId==vm.task.creator._id")
            img.disabled(ng-src='../assets/images/help_desk/settings.svg')
            img.active(ng-src='../assets/images/help_desk/settings-reverse.svg',)
            md-tooltip(md-direction="bottom") Изменить задачу

    .taskInfo-container-left
            //информация о таске
            h3.taskInfo-container-left__name {{vm.task.name}}
            //ul.project-actions
            //    li
            //        a.project-actions__action(ng-click="vm.closeTask()") Закрыть задачу
            //    li
            //        a.project-actions__action(ng-click="vm.pauseTask()") Поставить на паузу
            //    li
            //        a.project-actions__action(ng-click="vm.addSubTask()") Добавить подзадачу
            .taskInfo-container-left__description(ng-show="vm.task.description")
                h5 Суть задачи:
                p {{vm.task.description}}

            h5.taskInfo-container-left__creator Постановщик: {{vm.task.creator.name}}

            p.taskInfo-container-left__responsibles Ответсвенный:
                span.taskInfo-container-left__responsibles__responsible {{" "+vm.task.responsible.name+" "}}

            p.taskInfo-container-left__deadline(ng-show="vm.task.deadline")  Дедлайн:
                span.taskInfo-container-left__deadline__date {{vm.task.deadline| date : "dd MMMM | H:00"}}


            p.taskInfo-container-left__performers(ng-show="vm.task.performers.length") Соисполнитель(ли):
                span.taskInfo__user.taskInfo-container-left__performers__performer(ng-repeat="performer in vm.task.performers") {{" "+performer.name+" "}}

            p.taskInfo-container-left__auditors(ng-show="vm.task.auditors.length") Аудитор(ы):
                span.taskInfo__user.taskInfo-container-left__auditors__auditor(ng-repeat="auditor in vm.task.auditors") {{" "+auditor.name+" "}}

            p(ng-if="vm.task.customer").taskInfo-container-left__customers Заказчик:
                span.taskInfo-container-left__customers__customer {{" "+vm.task.customer.nameCompany+" "}}

            p.taskInfo-container-left__visitors Просмотрели :
                span.taskInfo__user.taskInfo-container-left__visitors__visitor(ng-repeat="visited in vm.task.visited") {{" "+visited.name+" "}}

            div(ng-show="vm.task.status.length")
                p.taskInfo-container-left__accepteds    Приняли :
                    span.taskInfo__user.taskInfo-container-left__accepteds__accepted(ng-repeat="status in vm.task.status") {{status | accepted:true}}

                p.taskInfo-container-left__canceleds    Отклонили :
                    span.taskInfo__user.taskInfo-container-left__canceleds__canceled(ng-repeat="status in vm.task.status") {{status | accepted:false}}
                        span.taskInfo-container-left__canceleds__canceled__comment {{status.comment}}

    br
    .taskInfo-container__reqiure-btns(ng-show="vm.showRequireBtns")
        button.taskInfo-container__reqiure-btns__accept.btn.btn-success(ng-click="vm.accepted()") Принять
        button.taskInfo-container__reqiure-btns__cancel.btn.btn-danger(ng-click="vm.canceled($event)") Отклонить

    .taskInfo__comments
        h3(ng-cloak) {{vm.comments.length?"Комментарии":"Пока нет комментариев"}}
        //коментарий(можно удалить если id текущего юзера равно id создателя)
        .taskInfo__comments__comment(ng-repeat="comment in vm.comments | limitTo:vm.limit track by $index")
            img.taskInfo__comments__comment__creator-photo(ng-src="../../assets/images/help_desk/user.jpg")
            .taskInfo__comments__comment__div
                h5.taskInfo__comments__comment__div__creator-name {{comment.user.name}}
                p.taskInfo__comments__comment__div__content {{comment.text}}
                span(ng-if="vm.userId==comment.user._id" ng-click="vm.removeComment(comment._id,$index)").taskInfo__comments__comment__div__remove  Удалить
                span(ng-if="vm.userId!=comment.user._id" ng-click="vm.writeAnswer(comment.user.name)").taskInfo__comments__comment__div__remove  Ответить
            span.taskInfo__comments__comment__date {{comment.createdDate | date:'d MMM HH:mm'}}
        //Show more-отображается когда больше 4 коментов и открывает по 5,так же можно скрыть комменты(до 4)
        .taskInfo__comments__showMore(ng-show="vm.comments.length>4")
            p(ng-click="vm.limit=vm.limit+10" ng-hide="vm.limit>=vm.comments.length") Показать остальные ({{vm.comments.length-vm.limit}})
            p(ng-click="vm.limit=4" ng-show="vm.limit>=vm.comments.length") Скрыть
        //Создание коментария
        .taskInfo__comments__create(ng-if="vm.enableToCreate()")
            img.taskInfo__comments__create__creator-photo(ng-src="../../assets/images/help_desk/user.jpg")
            textarea.taskInfo__comments__create__input(id="createTextArea" ng-enter placeholder="Написать ..." ng-model="vm.comment")
            div
                button.taskInfo__comments__create__send(ng-click="vm.sendComment()") Ответить

    div.m-menu-documents.m-menu-documents-right(data-offset-top="100", bs-affix)

