.taskInfo-container
    .m-menu-documents(data-offset-top="100", bs-affix)
        div.m-menu-documents-item(
        ng-click='vm.document.docType = item.value; vm.getNumberDocument()',
        ui-sref="tasksList",
        ng-class='{"m-menu-document-item-active": false}'
        )
            img.disabled(ng-src='../assets/images/help_desk/ticket.svg')
            img.active(ng-src='../assets/images/help_desk/ticket-reverse.svg')
            md-tooltip(md-direction="bottom") Мои задачи

        div.m-menu-documents-item(
        ng-click='vm.document.docType = item.value; vm.getNumberDocument()',
        ui-sref="newTask",
        ng-class='{"m-menu-document-item-active": false}'
        )
            img.disabled(ng-src='../assets/images/help_desk/ticket.svg')
            img.active(ng-src='../assets/images/help_desk/ticket-reverse.svg')
            md-tooltip(md-direction="bottom") Поставить задачу

    .taskInfo-container-left
            //информация о таске
            h3 {{vm.task.name}}
            //ul.project-actions
            //    li
            //        a.project-actions__action(ng-click="vm.closeTask()") Закрыть задачу
            //    li
            //        a.project-actions__action(ng-click="vm.pauseTask()") Поставить на паузу
            //    li
            //        a.project-actions__action(ng-click="vm.addSubTask()") Добавить подзадачу
            .taskInfo-container-left__description(ng-show="vm.task.description")
                h5 Суть задачи:
                p {{vm.task.description}}

            h5.taskInfo-container-left__creator Постановщик: {{vm.task.creator.name}}

            p.taskInfo-container-left__responsibles Ответсвенный:
                span.taskInfo-container-left__responsibles__responsible {{" "+vm.task.responsible.name+" "}}


            p.taskInfo-container-left__deadline(ng-show="vm.task.deadline")  Дедлайн:
                span.taskInfo-container-left__deadline__date {{vm.task.deadline| date : "dd MMMM | H:00"}}


            h5.taskInfo-container-left__performers(ng-show="vm.task.performers.length") Соисполнитель(ли):
                        span.taskInfo-container-left__performers__performer(ng-repeat="performer in vm.task.performers") {{" "+performer.name+" "}}

            p.taskInfo-container-left__auditors(ng-show="vm.task.auditors.length") Аудитор(ы):
                span.taskInfo-container-left__auditors__auditor(ng-repeat="auditor in vm.task.auditors") {{" "+auditor.name+" "}}

    br
    .taskInfo__comments
        h3 Коментарии
        .taskInfo__comments__comment(ng-animate ng-repeat="comment in vm.comments | limitTo:vm.limit")
            img.taskInfo__comments__comment__creator-photo(ng-src="../../assets/images/help_desk/user.jpg")
            .taskInfo__comments__comment__div
                h5.taskInfo__comments__comment__div__creator-name {{comment.user.name}}
                p.taskInfo__comments__comment__div__content {{comment.text}}
                span(ng-if="vm.userId==comment.user._id" ng-click="vm.removeComment(comment._id,$index)").taskInfo__comments__comment__div__remove  Удалить
        .taskInfo__comments__showMore(ng-show="vm.comments.length>4")
            p(ng-click="vm.limit=vm.limit+5" ng-hide="vm.limit>=vm.comments.length") Показать остальные ({{vm.comments.length-vm.limit}})
            p(ng-click="vm.limit=4" ng-show="vm.limit>=vm.comments.length") Скрыть
        .taskInfo__comments__create
            img.taskInfo__comments__create__creator-photo(ng-src="../../assets/images/help_desk/user.jpg")
            textarea.taskInfo__comments__create__input(placeholder="Напишите коментарий" ng-model="comment")
            p.taskInfo__comments__create__send(ng-click="vm.sendComment(comment)") Оставить коментарий
